<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="POB" connectionString="DATA SOURCE=localhost\SQLEXPRESS2012; Initial Catalog=ReaderDB; USER ID=sa;PASSWORD=bpns0620;" providerName="SQLSERVER"/>
    <add name="MWCONN1" connectionString="Data Sourzce=localhost\SQLEXPRESS2012;Initial Catalog=ReaderDB;Persist Security Info=True;User ID=sa;Password=bpns0620" providerName="System.Data.SqlClient" />
    <add name="MWCONN" connectionString="MSSQL::Database=ReaderDB;Server=localhost\SQLEXPRESS2012;uid=sa;pwd=bpns0620;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>