<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BPNS.TransitiveMiddleware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BPNS.TransitiveMiddleware.Properties.Settings>
            <setting name="APP_bUseFileLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NET_ListeningSocketCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NET_MWTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="LOG_LogFilePath" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="LOG_SystemLogFilename" serializeAs="String">
                <value>SYS</value>
            </setting>
            <setting name="LOG_ApplicationLogFilename" serializeAs="String">
                <value>APP</value>
            </setting>
            <setting name="LOG_bDateAppendToLogFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NET_BufferSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="NET_MaxPacketSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="RFID_MinTagReadCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RFID_GateInOutMergeTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="APP_MAXListCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RFID_Check_Last_State" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="APP_DisconnectDislayTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RFID_Last_State_Interval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="APP_Exit_Password" serializeAs="String">
                <value>bpns</value>
            </setting>
            <setting name="APP_bPreventDoubleRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RFID_Threshold_Count" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RFID_bCheckCarNoFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB_SID" serializeAs="String">
                <value>BPNSOLUTION</value>
            </setting>
            <setting name="DB_HostName" serializeAs="String">
                <value>112.162.225.130</value>
            </setting>
            <setting name="DB_Type" serializeAs="String">
                <value>ORACLE</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>HIDB1</value>
            </setting>
            <setting name="DB_Pass" serializeAs="String">
                <value>prodc86e</value>
            </setting>
            <setting name="DB_UserID" serializeAs="String">
                <value>C86E</value>
            </setting>
            <setting name="NET_EQErrorCheckTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FROM_PAMS_PORT" serializeAs="String">
                <value>8091</value>
            </setting>
            <setting name="DB_Timeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="DB_Batch_Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SMSResendSecond" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="POWER_SMSSendTerm" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="POWER_ShutdownTerm" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MWID" serializeAs="String">
                <value>D001</value>
            </setting>
            <setting name="FROM_MW_PORT" serializeAs="String">
                <value>11812</value>
            </setting>
            <setting name="FROM_JSON_PORT" serializeAs="String">
                <value>12012</value>
            </setting>
            <setting name="FROM_RFID_PORT" serializeAs="String">
                <value>12015</value>
            </setting>
            <setting name="TO_PAMS_PORT" serializeAs="String">
                <value>9011</value>
            </setting>
            <setting name="TO_PAMS_HOST" serializeAs="String">
                <value>172.30.34.23</value>
            </setting>
            <setting name="TO_CTRL_HOST" serializeAs="String">
                <value>192.168.200.231</value>
            </setting>
            <setting name="TO_CTRL_PORT" serializeAs="String">
                <value>20080</value>
            </setting>
            <setting name="CTRL_TIMEOUT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TO_MW_HOST" serializeAs="String">
                <value>192.168.200.22</value>
            </setting>
            <setting name="TO_MW_PORT" serializeAs="String">
                <value>11912</value>
            </setting>
            <setting name="MW_TIMEOUT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PRT_PORT" serializeAs="String">
                <value>9100</value>
            </setting>
            <setting name="PRT_TIMEOUT" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="IS_LOGGING_CONNT_HIS" serializeAs="String">
                <value>True</value>
            </setting>
        </BPNS.TransitiveMiddleware.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
